<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Minhas Redes Sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <ul class="icones-sociais">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100000910643184" class="icon-face" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/markandy_music/" class="icon-insta" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/marcelo-souza-2a8189207/" class="icon-linkedin" target="_blank">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MarceloSouzaEDM"  class="icon-github" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-secondary text-center py-4">
        <span class="text-white">© 2021 Copyright: Marcelo Souza</span>
    </div>

</footer>
